{% macro confirm_dialog(objectTypeName, objectType, typeDialog) %}

  {% if typeDialog == 'delete' %}
    <div class="modal fade modal-delete-{{objectType}}">
  {% else %}
    <div class="modal fade modal-unfollow-{{objectType}}">
  {% endif %}

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">

          {% if typeDialog == 'delete' %}
            Delete {{objectTypeName}} <span class="{{objectType}}-name"></span>?
          {% else %}
            Unfollow {{objectTypeName}} <span class="{{objectType}}-name"></span>?
          {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
                  data-dismiss="modal">Cancel</button>

          {% if typeDialog == 'delete' %}
            <button type="button" class="btn btn-primary delete-{{objectType}}-ok">OK</button>
          {% else %}
            <button type="button" class="btn btn-primary unfollow-{{objectType}}-ok">OK</button>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{{ confirm_dialog('queue', 'queue', 'delete') }}
{{ confirm_dialog('Pulse user', 'pulse-user', 'delete') }}
{{ confirm_dialog('Pulse user', 'pulse-user', 'unfollow') }}
