{% extends 'base.html' %}

{% block body %}
<div class="col-md-12">
  <h3>All invites</h3>
  <ul class="list-group pulse-users">
    {% for pulse_user in pulse_users %}
      <li class="list-group-item pulse-user"
          data-pulse-user-name="{{pulse_user.username}}">
        <h4>
          {{pulse_user.username}}
          <span class="pull-right">
            <span class="glyphicon glyphicon-ok accept"></span>
            <span class="glyphicon glyphicon-remove reject"></span>
          </span>
        </h4>
      </li>
     {% endfor %}
  </ul>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/js/users_listing.js"></script>
  <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
{% endblock %}